%h1 All Games
%form{:method => "get" }
  %input#q{:type => "text", :name => "q", :value => params[:q] || ""}
  %input{:type => "submit", :value => "search" } 
- if @games
  - @games.each do |game|
    %p Title : #{game.title}
  %p=@searchSummary
%p=@message
